{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="panel-content" style="margin-left:20%; margin-right:20%; margin-top:5%">
  <div class="col-md-8 col-sm-6 col-xs-12" style="width:95%;">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
          <form action="/" method="POST" style = "align:center">
            <div class="form-group">
            <label for="user_name">User Name:</label>
            <input id="user_name" class="form-control" type="text" name="user_name" value="{{un}}"/>
            {{name_error}}
            <br>
            <label for="password">Password:</label>
            <input id="password" class="form-control" type="password" name="password" value=""/>
            {{password1_error}}
            <br>
            <label for="password">Retype Password:</label>
            <input id="password2" class="form-control" type="password" name="password2" value=""/>
            {{password2_error}}
            <br>
            <label for="email">Email (optional):</label>
            <input id="email" class="form-control" type="text" name="email" value="{{email}}"/>
            {{email_error}}
            <br>
          <input type="submit" class="btn btn-round btn-default" value="GO" />

        </div>
        </form>
      </div>
      </div>
    </div>
      </div>
    </div>
{% endblock %}
